.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


input  {
  min-width: 20vw;
  min-height: 6vh;
  margin: 1em;
  border-radius: 8px;
  padding: 0.3em 0.3em 0.3em 0.5em;
}

input:focus{
  border: 2px solid grey;
}
input:active {
  border: 2px solid grey;
}

button {
  padding: 0.5em 0.7em;
  border-radius: 8px;
  background-color: whitesmoke;
}

button:active{
  border: 1.5px  solid white
}